.root {
  height: 100vh;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.inner {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 680px;
    box-shadow: rgba(60, 40, 170, 0.15) 0px 48px 100px 0px;
    border-radius: 40px;
  }
}