@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  --red: hsl(0, 100%, 67%);
  --orange: hsl(39, 100%, 56%);
  --green: hsl(166, 100%, 37%);
  --blue: hsl(234, 85%, 45%);

  --bg-violet: hsl(252, 100%, 67%);
  --bg-blue: hsl(241, 81%, 54%);

  --circle-light: hsla(256, 72%, 46%, 1);
  --circle-dark: hsla(241, 72%, 46%, 0);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-blue: hsl(221, 100%, 96%);
  --neutral-lavender: hsl(241, 100%, 89%);
  --neutral-gray-blue: hsl(224, 30%, 27%);

  --fz: 18px;

  --regular: 500;
  --semibold: 700;
  --bold: 800;

  --ff: 'Hanken Grotesk', sans-serif;
}

body {
  font-size: var(--fz);
  font-family: var(--ff);
  background-color: var(--neutral-white);
}